*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ddd;
}

.tabs button.active {
  background: #5056f1;
  color: white;
}

.content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}